<header class="container-fluid bg-dark sticky-top">
    <nav class="d-flex  justify-content-between flex-column flex-sm-row flex-wrap justify-content-center align-items-center">
        
        <a href="/" class="nav-link text-white"><strong style="font-size: 22px;">FelpsNews</strong></a>

        <div>
            <ul class="nav nav-pills">
                <li>
                    <a href="/" class="nav-link text-white" id="menuHome">Home </a>
                </li>

                <li>
                    <a href="/noticias" class="nav-link text-white" id="menuNoticias">Notícias</a>
                </li>

                <li>
                    <a href="/adicionarNoticias" class="nav-link text-white" id="menuAdmin">Criar</a>
                </li>
            </ul>
        </div>
    </nav>
</header>